#root {
  background: linear-gradient(to right, #fa30a9, #4b0082);
  
}
.calculator{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100vw;
  height: 100vh;
  
 
}
.container {
 /* background-color: #fa30aa;
 backdrop-filter: blur(20px); */
  margin: 0 auto;
  width: 50%;
  height:95vh;
  border-radius:8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  background-color: #fff;
  height: 85vh;
  min-width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}